
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
  background-image: url("assets/musicbg.jpeg");
}

#container {
  background-color: white;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  width: 80%;
  margin: auto;
}

#container section {
  padding-left: 3em;
  padding-right: 3em;
}

#container header {
  background-color: bisque;
  text-align: center;
}

#main-nav {
  background-color: black;
  color: white;
}

#main-nav nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-nav nav ul li {
  display: inline;
  padding: 2em;
}

#main-nav nav ul li a {
  text-decoration: none;
  color: white;
}

#main-nav nav ul li a:hover {
  background-color: bisque;
}

/* currently active tab */
.active {
  background-color: tan;
}

/* currently-viewed section */
.current {
  display: block;
}

/* section either read or not read */
.read {
  display: hidden;
}

#all-content {}

#home {}

#learn {}

#about {}

#contact {}

footer {
  padding: 2em auto;
  background-color: black;
  color: white;
}
